.projects {
    padding-bottom: 112px;

    &-h2 {
        @include fontDetails(normal, 300, 36px, 46px, #000000);
        text-align: center;
        letter-spacing: 0.05em;
        margin-bottom: 32px
    }

    &-p {
        @include fontDetails(normal, normal, 16px, 26px, #222222);
        letter-spacing: 0.05em;
        text-align: center;
        width: 750px;
        margin: 0 auto 64px auto;
    }

    &-links {
        display: grid;
        gap: 32px;
        grid-template-columns: 554px 554px;
        grid-template-rows: 480px 417px;
    }

}

.project-preview {
    text-decoration: none;
    @include fontDetails(normal, normal, 28px, 46px, #FFFFFF);
    letter-spacing: 0.05em;
    padding: 32px 0 0 32px;
    transition: 0.3s;
    border-radius: 11px;

    &:hover {
        transform: scale(1.015);
        box-shadow: 5px 5px 25px #222;
    }
}

.project-preview-1 {
    background: url(../img/project_preview_1.jpg);
    grid-column: 1 / 3;
    text-align: right;
    padding: 64px 64px 0 0;
    @include fontDetails(normal, normal, 32px, 46px, #FFFFFF);
}

.project-preview-2 {
    background: url(../img/project_preview_2.jpg);
}

.project-preview-3 {
    background: url(../img/project_preview_3.jpg);
}